ul.ulstyle
{
  background: #1e2324;
  padding: 20px;
}

ul li
{
  background: #31393b;
  padding: 5px;
  margin-left: 35px;
}

body
{
  color: white;
  background-color: #1e2324;
  text-align: center;
}
